<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Reed's Robotics</title>
</head>
<body>
    <header>
        <h1>Reed's Robotics</h1>
    </header>

    <section id="customerOrders">
        <h2>Customer Orders</h2>
        <table>
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Robot ID</th>
                    <th>Shipping Location</th>
                    <th>Order Status</th>
                    <th>Delivery Date</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody id="orderList">
                
            </tbody>
        </table>
    </section>

    <footer>
        <p>&copy; 2023 Reed's Robotics</p>
    </footer>
</body>
</html>
